<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

    <target xsi:type="AsyncWrapper" batchSize="100"  overflowAction="Grow" queueLimit="1024" name="ErrorLog">
      <target  xsi:type="File" fileName="${basedir}/LogBackUp/ErrorLog/Error_${shortdate}.apilog"
               archiveAboveSize="5242880" archiveFileName="${basedir}/LogBackUp/ErrorLog/Error_${shortdate}.{###}.apilog"
               archiveNumbering="Sequence" maxArchiveFiles="10"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
    </target>

    <!--<target xsi:type="AsyncWrapper" batchSize="100"  overflowAction="Grow" queueLimit="1000" name="TraceLog">
      <target  xsi:type="File" fileName="${basedir}/LogBackUp/TraceLog/Trace_${shortdate}.apilog"
               archiveAboveSize="5242880" archiveFileName="${basedir}/LogBackUp/TraceLog/Trace_${shortdate}.{###}.apilog"
               archiveNumbering="Sequence" maxArchiveFiles="10"
            layout="${longdate} CIP:${aspnet-request-ip} ${uppercase:${level}} ${message}" />
    </target>-->

    <!--<target xsi:type="AsyncWrapper" batchSize="100"  overflowAction="Grow" queueLimit="1024" name="TraceLog">
      <target  xsi:type="Network" address="udp4://localhost:9050"
            layout="${longdate}|${aspnet-request-ip}|${event-properties:item=LogType}|${event-properties:item=Format}|${event-properties:item=Method}|${event-properties:item=URL}|${event-properties:item=Controller}|${event-properties:item=Action}|${event-properties:item=Parameter}|${event-properties:item=MessageType}|${event-properties:item=Username}|${event-properties:item=Token}|${event-properties:item=TraceId}|${event-properties:item=Application}|${event-properties:item=HostIp}" />
    </target>-->

    <target xsi:type="AsyncWrapper" batchSize="100"  overflowAction="Grow" queueLimit="1024" name="TraceLog">
      <target  xsi:type="Network" address="https://search-travelogixuat-tnww22o5sv5r2vttv6tqx3hrdq.ap-south-1.es.amazonaws.com/devtracelog/log/" 
            layout="${message}" />
    </target>

  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="ApplicationError" minlevel="Error" level="Error" writeTo="ErrorLog" />
    <logger name="Trace" minlevel="Trace" level="Trace" writeTo="TraceLog" />
  </rules>
</nlog>
